{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="courses.html">Our Alumnis</a></li>
          <li class="list-inline-item text-white h3 font-secondary "></li>
        </ul>
        <p class="text-lighten">Our courses offer a good variety of career options to choose from. Here are some of our Alumnis.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- courses -->
<section class="section">
  <div class="container">
    <!-- course list -->
<div class="row justify-content-center">
  <!-- course item -->
  {% autoescape off %}
      {% for course in course_list %}
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0 " src="/media/{{course.image}}" alt="course thumb">
      <div class="card-body">
        
        <a href="{% url 'course_detail' course.id %}">
          <h4 class="card-title">{{course.Title}}</h4>
        </a>
        <p class="card-text mb-4">{{course.body|truncatewords:50}}</p>
        <a href="{% url 'career_detail' course.id %}" class="btn btn-primary btn-sm">Learn More</a>
        
      </div>
    </div>
  </div>
  {% endfor %}
        {% endautoescape %}
  </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{% endblock %}